@page "/dominio/editar/{dominioId:int}"
@using SiginUser.Models
@using SiginUser.Pages.Dominio
@inject HttpClient  http
@inject NavigationManager navigate
@inject IJSRuntime js

@if(dominioId == 0)
{
    <PageTitle>Novo Domínio</PageTitle>
    <h2>Novo Domínio</h2>
}
else
{
    <PageTitle>Editar Domínios</PageTitle>
    <h2>Editar Domínio</h2>
}

<!--formulário de edição para detalhamento, inclusão, alteração e exclusão -->
<EditForm Model="@dominio" OnValidSubmit="@SalvarEdicaoDominio">
    <DataAnnotationsValidator />
    
    <div class="form-group">
        <label style="color:slateblue">Campo</label>
        <div>
            <InputText @bind-Value="@dominio.Campo" class="form-control" />
            <ValidationMessage For="@(()=>dominio.Campo)" />
        </div>
    </div>
    <div class="form-group">
        <label style="color:slateblue">Sigla</label>
        <div>
            <InputText @bind-Value="@dominio.Sigla" class="form-control" />
            <ValidationMessage For="@(()=>dominio.Sigla)" />
        </div>
    </div>
        <div class="form-group">
        <label style="color:slateblue">Descricao</label>
        <div>
            <InputText @bind-Value="@dominio.Descricao" class="form-control" />
            <ValidationMessage For="@(()=>dominio.Descricao)" />
        </div>
    </div>
        <div class="form-group">
        <label style="color:slateblue">Sequência</label>
        <div>
            <InputNumber @bind-Value="@dominio.Sequencia" class="form-control" />
            <ValidationMessage For="@(()=>dominio.Sequencia)" />
        </div>
    </div>
    <br/>
    <button type="submit" class="btn btn-success">Salvar</button>
    <button class="btn btn-danger" @onclick="@ExcluirDominio">Excluir</button>
    <button class="btn btn-outline-dark" href="/dominio">Retornar</button>
</EditForm>

@code {

    [Parameter]
    public int dominioId { get; set; }

    //instância a classe Dominio no objeto dominio
    Dominio dominio = new Dominio();    


    /// <summary>
    /// Recebe os parâmetros e ler o registro a editar
    /// </summary>
    /// <returns></returns>
    protected async override Task OnParametersSetAsync()
    {
        //ler os dados do domínio a ser editado
        http.BaseAddress = new Uri("https://localhost:7037/");

        if( dominioId > 0)
        {
            dominio = await http.GetFromJsonAsync<Dominio>($"api/dominio/GetDominioById/{dominioId}");
        }
    }


    /// <summary>
    /// Sala o resultado da edição  (alteração ou inclusão)
    /// </summary>
    /// <returns></returns>
    async Task SalvarEdicaoDominio()
    {
        if (dominioId == 0)
        {
            //inclui novo dominio
            await http.PostAsJsonAsync("api/dominio/AddDominio", dominio);
        }
        else
        {
            //altera dominio informado
            await http.PutAsJsonAsync($"api/dominio/UpdateDominioById/{dominioId}", dominio);
        }

        //navega de volta para a página index do dominio
        navigate.NavigateTo("dominio");       
    }


    /// <summary>
    /// Exclui o dominio solicitado
    /// </summary>
    /// <returns></returns>
    async Task ExcluirDominio()
    {
        //exclui dominio informado
        var resposta = await js.InvokeAsync<bool>("confirm","Confirma Exclusão do Domínio?");
        if(resposta)
        {
            await http.DeleteAsync($"api/dominio/DeleteDominioById/{dominioId}");
        }

        navigate.NavigateTo("dominio");
    }
}
