@page "/dominio"
@inject HttpClient http
@inject NavigationManager navigate

<PageTitle>Domínios</PageTitle>
<h2>Domínios</h2>

<div>
  <a class="btn btn-success" @onclick="@(()=> EditaLinha(0))">Novo Domínio</a>
</div>

@if(dominios == null)
{
    <p>Carregando ...</p>
}
else if(dominios.Length == 0)
{
    <p>Não existem Domínios cadastrados</p>
}
else
{
    //exibir os Domínios
    <table class="table table-hover"  width="100%">
        <thead>
            <tr>
                <th>Sequencia</th> 
                <th>Campo</th>
                <th>Sigla</th>                
                <th>Descrição</th>                           
            </tr>
        </thead>
        <tbody>
            @foreach(var dominio in dominios)
            {
                <tr @onclick="@(()=> EditaLinha(dominio.Id))">
                    <td>@dominio.Sequencia</td>
                    <td>@dominio.Campo</td>
                    <td>@dominio.Sigla</td>
                    <td>@dominio.Descricao</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    Dominio[]? dominios { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await CarregaDominios();
    }

    async Task CarregaDominios()
    {
        http.BaseAddress = new Uri("https://localhost:7037/");
        dominios = await http.GetFromJsonAsync<Dominio[]>("api/dominio/GetDominios");
    }

    private void EditaLinha(int dominioId)
    {
        navigate.NavigateTo($"/dominio/editar/{dominioId}");
    }
}
