@page "/"
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject NavigationManager navigation


<PageTitle>Index</PageTitle>

<div class="page">
    <!-- logotipo da Clínica -->
    <table>
        <tr>
            <td><img src="/images/LogoMedio.png" width="80" /></td>
            <td>
                <table>
                    <tr><td><img src="/images/ViaRapida.png" width="180" /></td></tr>
                    <tr><td><span><b>Clínica de Medicina e Psicologia do Trânsito</b></span></td></tr>
                </table>
            </td>
        </tr>
    </table>

    <!-- Alerta de agendamentos -->
    <div class="alert alert-secondary mt-4">
        <span class="oi oi-aperture me-2" aria-hidden="true"></span>
        Olá @UserName.
        Você tem atendimentos agendados para hoje.
    </div>

    <!-- Agendaentos -->
    <Agendamentos />

</div>

<!-- lista o estado de autentiação do usuário -->
@*@if(@authState.User.Identity.IsAuthenticated)
{
	<div><p><b>authState:</b>@authState</p></div>
	<div class="row">
		<div class="col-6"><p><b>Nome:</b> @authState.User.Identity.Name</p></div>
		<div class="col-6"><p><b>Autenticado:</b> @authState.User.Identity.IsAuthenticated</p></div>
	</div>
			
	@foreach (var claim in authState.User.Claims)
	{   <div class="row">
			<div class="col-6"><p><b>Claim Type:</b> @claim.Type</p></div> 
			<div class="col-6"><p><b>Claim Value:</b> @claim.Value</p></div>
		</div>
	}
}*@
@code
{
    [CascadingParameter]
    private Task<AuthenticationState> _authState { get; set; }
    private AuthenticationState authState;
    private string UserName = "Fernando Fitipaldi";

    protected override async Task OnInitializedAsync()
    {
        authState = await _authState;

        if (authState.User.Identity.IsAuthenticated == false)
        {
            navigation.NavigateTo("/Identity/Account/Login", true);
        }
    }
}
